/tmp
/Data
/__pycache__
/wandb
/kgnn_module/examples/*
/model
/dataset
/output
/train.sh
/model_test.sh
/train.sh
/logs
/xuyuan.code-workspace
/xuyuan.workspace.code-workspace
/config
/rank_config
/dist_model
/datasplit
/record
/similarity
*pt
*pkl
*.npy
*.yaml
/gcn_lib
*.csv
*.zip
